<center>
    PV : <span id="life"></span>
    <canvas id="canvas" style="width: 100%; height: 80%;">
        <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour</p>
    </canvas>
    <div id="msg">Appuyez sur espace ou sur votre écran pour commencer</div>
    <input style="display: none" id="pauseButton" type="button" onclick="pause()" value="Pause"/>
</center>
<script>
    const widthCanvas = 600;
    const heightCanvas = 300;
    document.querySelector('#canvas').width = widthCanvas;
    document.querySelector('#canvas').height = heightCanvas;
    const diffAire = ((300+150)/2)/((widthCanvas+heightCanvas)/2);
</script>
<script src="graphismes.js"></script>
<script src="animations.js"></script>
<script src="entities.js"></script>
<script src="collisions.js"></script>
<script src="principal.js"></script>
